tox
pytest
pytest-cov
pytest-env
pytest-randomly<3.3  # https://github.com/pytest-dev/pytest-randomly/issues/246
pytest-faulthandler
freezegun
mypy
httpretty
pytest-pythonpath
werkzeug>=0.15.0    # contains fix https://github.com/pallets/werkzeug/pull/1280
