tox
pytest
pytest-cov
pytest-env
pytest-randomly
pytest-faulthandler
freezegun
httpretty
pytest-pythonpath

# Version 2 has much better testing tooling
# 2.1 has breaking BaseResponse removal
werkzeug >=2, <2.1
